<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Asa bot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="description" content="Bot status">
  <meta name="keywords" content="portfolio">
  <meta name="author" content="DracX">
  <meta name='subject' content='portfolio site'>
  <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/avatars/632748789341618207/1df8e4ab72ea6f1752de6cfe001ab813.png?size=4096&ignore=true">
    <meta property="og:title" content="DracX - Portfolio" />
  <meta property="og:type" content="portfolio" />
  <meta property="og:image" content="https://cdn.discordapp.com/avatars/632748789341618207/1df8e4ab72ea6f1752de6cfe001ab813.png?size=4096&ignore=true)." />
  <meta property="og:description" content="Bot status" />
  <meta name="theme-color" content="#FF0000">
  
</head>
<body>
  <script dafer data-domain = "bot.dracx.is-a.dev" src="https://analytics.is-a.dev/js/script.js"></script>
<p>
  Bot is running 
  Contact : admin@dracx@is-a.dev for more info 
</p>
  <script  src="{{url_for('static',filename='js/script.js')}}"></script>

</body>
</html>
